.Tool {
	display: flex;
	column-gap: 5%;
	margin-bottom: 3%;
}
.Tool img {
	width: 2vw;
	color: #5812ed;
}
.Tool p {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
}
@media only screen and (min-width: 890px) {
	.Tool img {
		width: 1vw;
	}
}
@media only screen and (max-width: 550px) {
	.Tool img {
		width: 3vw;
	}
}
